.routeLinks {
  display: flex;
  align-items: center;
  gap: 8px;
}

.arrow {
  display: flex;
  align-items: center;
}

.link {
  font-size: 20px;
  font-weight: bold;
}

.unActiveLink {
  color: var(--grey-light);
}