.titleInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: var(--theme-color);
    font-weight: bold;
  }
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.search{
  cursor: pointer;

  svg {
    fill: var(--white);
    fill-opacity: 1;
  }
}

.search:hover {
  svg {
    fill: var(--theme-color)
  }
}

.friendsInfo {
  height: 76vh;
  overflow-y: scroll;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userName {
  font-weight: bold;
}

.friendsInfo::-webkit-scrollbar {
  display: none;
}

.shareIcon:hover {
  cursor: pointer;

  svg {
    stroke: var(--theme-color);
  }
}