@import "@/assets/styles/templates";

.menu {
  @include new-flex-col-gap(51px);
  background-color: var(--background);
  width: 280px;
  height: 100vh;
  padding: 30px 0 0 35px;
}

.title {
  font-family: 'FugazOne', sans-serif;
  font-size: 48px;
  color: var(--theme-color);
}

.sectionTitle {
  font-size: 20px;
}

.itemTitle {
  font-size: 18px;
}

.itemTitleSelected {
  color: var(--theme-color);
}

.sectionItem {
  @include new-flex-gap(16px);
  align-items: center;
  cursor: pointer;
}

.section {
  @include new-flex-col-gap(24px);
}

.sections {
  @include new-flex-col-gap(40px);
}

.selectBorder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.borderSelected {
  height: 24px;
  width: 3px;
  background-color: var(--theme-color);
}