@font-face {
  font-family: 'SFPro';
  src: url('./SFProText-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'SFPro-medium';
  src: url('./SFProText-Medium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url('./SFProText-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'FugazOne';
  src: url('./FugazOne-Regular.ttf');
  font-weight: bold;
}