.app {
  background: var(--background);
  display: grid;
  grid-template:
        'menu header profileMenu'
        'menu main profileMenu'
        'menu audio-player profileMenu';
  grid-template-columns:220px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.appBlock {
  display: block;
}

.smallWindow {
  display: grid;
  grid-template:
        'header'
        'main'
        'audio-player';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.main {
  overflow-y: scroll;
  padding: 30px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}


.main::-webkit-scrollbar {
  display: none;
}
