@mixin new-flex-col-gap($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin new-flex-gap($gap) {
  display: flex;
  gap: $gap;
}

.menu {
  grid-area: menu;
  @include new-flex-col-gap(24px);

  background-color: var(--second-main-color);
  width: 220px;
  height: 100vh;
  padding-top: 32px;
}

.title {
  font-family: FugazOne, sans-serif;
  padding-left: 25px;
  font-size: 48px;
  color: var(--theme-color);

  span {
    font-family: FugazOne, sans-serif;
    font-size: 48px;
  }
}

.sectionTitleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 180px;
}

.sectionTitle {
  color: var(--grey-ligher);
  font-weight: bold;
  padding-left: 25px;
  font-size: 14px;
  letter-spacing: 2px;
}

.itemTitle {
  color: var(--grey-ligher);
  font-size: 18px;
}

.itemTitleSelected {
  color: var(--white);
}

.sectionItem {
  padding-left: 25px;
  height: 48px;
  @include new-flex-gap(16px);

  align-items: center;
  cursor: pointer;
}

.sectionItem:hover {
  background-image: var(--gradient-gray)
}

.icon {
  width: 24px;
}

.section {
  @include new-flex-col-gap(15px);
}

.sections {
  @include new-flex-col-gap(40px);
}

.selectBorder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.borderSelected {
  height: 48px;
  width: 3px;
  background-color: var(--theme-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.addPlaylist {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.formPlaylist {
  margin-bottom: 10px;
}

.inputField {
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  margin-left: 25px;
  background: none;
  border: 1px solid var(--grey-light);
}