@keyframes spin {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spinner::before {
  animation: 1.5s linear infinite spin;
  animation-play-state: inherit;
  border: solid 5px var(--white);
  border-bottom-color: var(--theme-color);
  border-radius: 50%;
  content: "";
  height: 70px;
  width: 70px;
  position: absolute;
  top: 50%;

  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}