.profileMenu {
  background: var(--second-main-color);
  height: 100%;
  width: 288px;
  padding: 22px 20px 0;
  grid-area: profileMenu;
}

.profileSection {
  padding: 10px 20px 10px 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: bold;
  height: 48px;
}

.openProfile {
  height: 14px;
  cursor: pointer;
  transform: rotate(90deg);
}

.closeProfile {
  width: 14px;
  transform: rotate(270deg);
}

.openProfile:hover {
  svg path {
    transition: 0.2s ease;
    stroke-width: 2.5px;
  }
}

.modalSection {
  height: 68px;
  position: relative;
}

.modalBorder {
  border: 1px solid var(--second-main-color);
}

.modalBorderOpen {
  background: var(--second-main-color);
  position: absolute;
  border: 1.5px solid var(--grey-light);
  border-radius: 12px;
  transition: 0.2s ease;
  z-index: 2;
}

.modal {
  padding: 0 10px 10px;
  align-items: start;
  display: flex;
  flex-direction: column;
}

.modalButton {
  width: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 35px;
  text-align: left;
  padding-left: 15px;
  cursor: pointer;
}

.modalButton:hover {
  background-color: #272727;
}

.infoSection {
  position: relative;
  margin-top: 20px;
  padding: 10px;
}

.profileIconContainer {
  background-color: var(--grey-default);
  width: 48px;
  height: 48px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    background: none;

    g {
      transition: 0.2s ease;
    }
  }

  svg:hover {
    g {
      stroke: white;
      stroke-opacity: 1;
    }
  }
}


