.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 250px;
  border-radius: 12px;
  cursor: pointer;
}

.card:hover {
  background: var(--second-main-color);
  transition: 0.2s ease-in;
}

.card:hover .playIcon {
  opacity: 1;
  transform: translateY(0);
}

.playIcon {
  background: var(--theme-color);
  border-radius: 25px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 25px;
  bottom: 65px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.imageSection {
  img {
    width: 192px;
    height: 192px;
    border-radius: 12px;
    margin: 10px 10px 0 10px;
  }
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: bold;
  text-align: center;
}