.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 265px;
}

.imageSection {
  img {
    width: 192px;
    height: 192px;
    border-radius: 12px;
  }
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: bold;
  text-align: center;
}