.genrePage {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
}

.genreItem {
  position: relative;
}

.imageSection {
  img {
    width: 425px;
    height: 300px;
    border-radius: 25px;
  }
}

.genreTitle {
  text-align: center;
  font-size: 35px;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}