.audioPlayer {

}

.info {
  position: relative;
  grid-area: audio-player;
  display: flex;
  background: var(--second-main-color);
  align-items: center;
  width: 100%;
  padding: 25px;
  height: max-content;
}

.musicLine {
  width: 100%;
  background: var(--grey-default);
  height: 6px;
}

.playingLine {
  height: 6px;
  z-index: 3;
  position: relative;
  background: var(--theme-color);
}

.buttonLine {
  bottom: -5px;
  right: -2px;
  z-index: 2;
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--theme-color);
  border-radius: 25px;
}

.musicInfo {
  position: absolute;
  display: flex;
  gap: 24px;
  align-items: center;
}

.playingMusic {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  border: 3px solid var(--theme-color);
}

.musicText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nameMusic {
  font-size: 20px;
  font-weight: bold;
}

.artists {
  font-size: 18px;
}

.musicButtons {
  display: flex;
  gap: 16px;
}

.buttonSection {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.volume {
  position: absolute;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.volumeLine {
  border-radius: 25px;
  width: 75px;
  height: 6px;
  background-color: var(--white);
}