:root {
  --background: #121212;
  --theme-color: #1DB954;
  --default-text-color: #FAFAFA;
  --white: #fff;
  --grey-default: rgba(255,255,255, 0.2);
  --second-main-color: #242424;
  --grey-ligher: #949494;
  --grey-light: #7F7F7F;
}
